@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
}

/* @font-face {
  font-family: 'ClashDisplay';
  src: url('@assets/fonts/ClassDisplay/ClashDisplay-Variable.woff2')
      format('woff2'),
    url('@assets/fonts/ClassDisplay/ClashDisplay-Variable.woff') format('woff'),
    url('@assets/fonts/ClassDisplay/ClashDisplay-Variable.ttf')
      format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('@assets/fonts/Poppins/Poppins-Variable.woff2') format('woff2'),
    url('@assets/fonts/Poppins/Poppins-Variable.woff') format('woff'),
    url('@assets/fonts/Poppins/Poppins-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
} */

@layer base {
  html {
    @apply max-w-full scroll-smooth;
  }

  body {
    @apply max-w-full overflow-x-hidden leading-body text-primary antialiased;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: -2px 0px 0px #181f51, 2px 0px 0px #181f51, 0px -2px 0px #181f51,
      0px 2px 0px #181f51, -2px -2px 0px #181f51, 2px 2px 0px #181f51,
      -2px 2px 0px #181f51, 2px -2px 0px #181f51;
  }

  .rotate-x-180 {
    transform: rotateX(180deg);
  }

  .subpage-open {
    overflow: hidden;
  }

  .show-menu {
    overflow: hidden;
  }
}

.roadmap-heading {
  transform: translateZ(1000px);
}

.roadmap-character {
  transform: translateZ(1000px) translateX(-50%);
}

@media (min-width: 992px) {
  .roadmap-character {
    transform: translateZ(1000px);
  }
}

.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  background-color: rgba(171, 171, 171, 0.4);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-image: linear-gradient(
    0deg,
    #ffb524 36.69%,
    #ffb626 38.13%,
    #ffc648 49.69%,
    #ffd365 62.69%,
    #ffdd7b 75.69%,
    #ffe48b 90.13%,
    #ffe994 107.46%,
    #ffea97 130.57%
  );
}

* {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
}

body,
html,
#root,
.app {
  height: 100%;
  width: 100%;
}

.scrollable-div {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollable-div::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

@keyframes spin-180 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animated-spin-180 {
  animation: spin-180 1s linear infinite;
}
